<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<nav class="navbar navbar-dark bg-dark">
        <div class="container">
                <a class="navbar-brand" href="#">
                        Image Caption Generator
                </a>
                <ul class="nav nav-pills ">
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'imagecaptioncreate' %}">Generate</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'imagecaption' %}">View Generated</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout ({{ user }})</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#AboutUs">About Us</a>
                        </li>
                </ul>
        </div>
</nav>